$primary-color: #ff9900;

$font-color-title: #b16a00;
$font-color-primary: #88847d;
$font-color-secondary: #806c4a;

$disabled-color: rgba(170, 151, 123, 0.33);

$background-color: #242424;

$error-color: #9c1c00;

$color-black: #000000;
$color-white: #ffffff;
$color-gray: #676767;
