:root {
  font-family: EB Garamond, serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;

  color-scheme: light dark;
  color: #88847D;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  padding-bottom: 20px;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.8) 100%), url('/bg-flames.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-blend-mode: multiply; */
  /* filter: blur(10px); */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 15px 30px 15px 30px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FF9900;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: Alegreya SC;
  font-size: 20px;
  font-weight: 400;
  line-height: 35.76px;
  color: #000000;
}

li {
  list-style: none;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #383633;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a1917;
}

/* dark mode looking scrollbar */