main {
  max-width: 100%;
  margin: 0 auto;
  color: #88847D;
}

.header {
  height: 150px;
  /* background-color: rgba(150, 127, 255, 0.3); */
}

.section {}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  column-gap: 5%;
}

.content-left {
  width: 710px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  /* background-color: rgba(36, 65, 55, 0.5); */
}

.content-right {
  width: 710px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  /* background-color: rgba(36, 65, 55, 0.5); */
}

.texts {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.text {}

.buttons {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
}